<?xml version = "1.0" encoding = "UTF-8"?> 
<keyboard>
    <move-forwards>primary = 'w' secondary = 'null'</move-forwards>
    <move-left>a</move-left>
    <move-backwards>s</move-backwards>
    <move-right>r</move-right>
    <all-chat>y</all-chat>
    <team-chat>t</team-chat>
    <voice-chat>v</voice-chat>
    <duck>alt</duck>
    <jump>space</jump></jump>
</keyboard>
<video>
    <resolution>640x480</resolution>
</video>
